.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  border: 0.1rem solid transparent;
  background-color: var(--primary-color-gray);
  border-radius: 50%;
  width: 15%;
  aspect-ratio: 1;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.button:hover {
  transform: scale(1.1);
}
